@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply text-dark-text;
  }

  .main-section-layout {
    @apply relative z-[4] flex-grow;
  }

  .section-title {
    @apply font-medium leading-none text-32 lg:text-24 xl:text-28;
  }
  .prosed ul li,
  ul.unordered-list li {
    @apply pl-20 relative md:mb-10 leading-none mb-20 last:mb-0 before:absolute before:left-0 before:top-1/2 before:-translate-y-1/2 before:w-10 before:h-10 before:bg-blue before:rounded-full;
  }

  .prosed p {
    @apply mb-10 last:mb-0;
  }

  ul.unordered-list-small li {
    @apply pl-16 relative leading-none mb-12 md:mb-9 last:mb-0 before:absolute before:left-0 before:top-1/2 before:-translate-y-1/2 before:w-6 before:h-6 before:bg-blue before:rounded-full;
  }
}

@layer utilities {
  .scroll-x-hidden {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
      height: 0 !important;
    }
  }
}
